.list {
border: black 2px solid;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 60px;
}
.list__addtodo{
    width: 100%;
    background-color: white;
    height:50px;
}
.list__todolist{
    height:500px;
}