.list {
    width: 25%;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 0 0 1em black;
}

.list__header {
    background: #5c83cc;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 28px;
    color: white;
}

.list__addtodo {
    width: 100%;
    height: 50px;
    border: 1px solid #5c83cc;

}

.list__addtodo input {
    width: 90%;
    height: 100%;
    padding: 10px;
    font-size: 22px;
}

.list__addtodo button {
    color: #0b3389;
    background-color: white;
    width: 10%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    border-left: 1px solid #5c83cc;

}

.list__todolist {
    min-height: 300px;
    /*word-wrap: break-word;*/
    background-color: white;
    padding: 10px;
    border-left: 1px solid #5c83cc;
    border-right: 1px solid #5c83cc;
}

.message__block {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    margin-bottom: 15px;
}

.block__checkbox {
    width: 20px;
    height: 20px;
}

.block__checkboxEditor {
    padding-left: 15px;
    margin-top: -3px;
    padding-bottom: 5px;
    margin-right: 0px;
    font-size: 20px;
    resize: none;
    width: 80%;
    height: 70px;
    color: red;
    word-break: break-all;
    line-height: 20px;
}

.message__block span {
    margin-top: -3px;
    word-break: break-word;
    padding-bottom: 3px;
    flex: 0 0 80%;
    padding-left: 15px;

}

.block__decoration {
    text-decoration: line-through;
}

.block__buttons {
    width: 15%;
    justify-content: space-evenly;
    display: flex;
    color: #0b3389;
}

.block__checkbox, .buttons__icons :hover {
    cursor: pointer;
}

.block__checkbox, .buttons__icons :active {
    cursor: pointer;
    color: lightslategrey;

}

.list__button {
    background: white;
    padding: 10px;
    text-align: center;
    border-left: 1px solid #5c83cc;
    border-right: 1px solid #5c83cc;
}

.list__button button {
    background: #5c83cc;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}