.list {
    width: 25%;
    min-height: 60vh;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 0 0 1em black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (width: 1280px) and (max-height: 800px) {
    .list {
        width: 45%;
        min-height: 50vh;
    }
}

@media (width: 1024px) and (max-height: 600px) {
    .list {
        width: 45%;
        min-height: 40vh;
    }
}

@media (max-width: 1300px) {
    .list {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .list {
        width: 75%;
        min-height: 80vh;
    }
}

@media (max-width: 468px) {
    .list {
        width: 100%;
        /*height: 100%;*/
        min-height: 70vh;
        margin-bottom: 0px;
    }

}

.list__header {
    background: #5c83cc;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 28px;
    color: white;
}

.list__addtodo {
    width: 100%;
    height: 50px;
    border: 1px solid #5c83cc;

}

@media (max-width: 992px) {
    .list__addtodo {
        font-size: 18px;
    }
}

.list__addtodo input {
    width: 85%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
}

.list__addtodo button {
    color: #0b3389;
    background-color: white;
    width: 15%;
    padding-left: 10px;
    height: 100%;
    text-align: center;
    font-size: 22px;

}

@media (max-width: 468px) {
    .list__addtodo button {
        font-size: 21px;
    }
}

.list__todolist {
    flex: 1 1 auto;
    background-color: white;
    padding: 10px;
    border-left: 1px solid #5c83cc;
    border-right: 1px solid #5c83cc;
}

@media (max-width: 992px) {
    .list__todolist {
        font-size: 18px;
        min-height: 140px;
    }
}

@media (max-width: 468px) {
    .list__todolist {
        border: none;
    }
}

.message__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (max-width: 1300px) {
    .message__block span {
        font-size: 18px;
    }
}

.block__checkbox {
    flex: 0 0 5%;
    width: 20px;
    height: 20px;
}

.block__checkboxEditor {
    padding-left: 15px;
    margin-top: -3px;
    font-size: 20px;
    width: 80%;
    color: red;
    word-break: break-all;
    line-height: 20px;
    resize: none;
}

@media (max-width: 1300px) {
    .block__checkboxEditor {
        font-size: 18px;
        line-height: 18px;
        padding-right: 5px;
    }

}

.message__block span {
    margin-top: -3px;
    word-break: break-word;
    padding-bottom: 3px;
    flex: 0 0 80%;
    padding-left: 15px;
}

.block__decoration {
    text-decoration: line-through;
}

.block__buttons {
    width: 15%;
    justify-content: space-evenly;
    display: flex;
    color: #0b3389;
}


.block__checkbox, .buttons__icons :hover {
    cursor: pointer;
}

.block__checkbox, .buttons__icons :active {
    cursor: pointer;
    color: lightslategrey;

}

.list__button {
    background: white;
    padding: 10px;
    text-align: center;
    border-left: 1px solid #5c83cc;
    border-right: 1px solid #5c83cc;
}

@media (max-width: 1300px) {
    .list__button {
        border: none;
    }

}

.list__button button {
    background: #5c83cc;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}