@import './nullStyle.css';

body {
    font-size: 20px;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    overflow: hidden;
    background: linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5) ;

}
